OidcPresets__Default=Example
OidcPresets__Presets__0__Name=Example
OidcPresets__Presets__0__Settings__Authority=http://localhost
OidcPresets__Presets__0__Settings__ClientId=example-client
OidcPresets__Presets__0__Settings__ClientSecret=example-secret
OidcPresets__Presets__0__Settings__Scopes=my-api
