OidcPresets__Default=Local IdP
OidcPresets__Presets__0__Name=Local IdP
OidcPresets__Presets__0__Settings__Authority=http://localhost:8081
OidcPresets__Presets__0__Settings__ClientId=client1
OidcPresets__Presets__0__Settings__ClientSecret=super_secret
OidcPresets__Presets__0__Settings__Scopes=my_api
