@page
@using System.IdentityModel.Tokens.Jwt
@using System.Text.Json
@using Microsoft.AspNetCore.Authentication
@model IndexModel
@{
    ViewData["Title"] = "OIDC Viewer";

    string? accessToken = await HttpContext.GetTokenAsync("access_token");
    string decodedPayload = "Invalid JWT token";
    try
    {
        JwtSecurityToken jwt = new JwtSecurityToken(jwtEncodedString: accessToken);
        JsonDocument parsedPayload = JsonDocument.Parse(jwt.Payload.SerializeToJson());
        decodedPayload = JsonSerializer.Serialize(parsedPayload.RootElement, new JsonSerializerOptions
        {
            WriteIndented = true
        });
    }
    catch
    {
        // ignored
    }
}

<nav class="navbar p-3">
    <div class="container-fluid justify-content-end">
        <form action="/signout" method="post" asp-antiforgery="true">
            <button class="btn btn-outline-secondary btn-sm" type="submit">Sign out</button>
        </form>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="p-3">
                <div class="card shadow-sm">
                    <div class="card-header font-monospace">
                        /token
                    </div>
                    <div class="card-body">
                        <table class="table table-borderless">
                            <tbody>
                            <tr>
                                <td class="col-2"><strong>access_token:</strong></td>
                                <td>
                                    <div class="input-group input-group-sm">
                                        <input type="text"
                                               class="form-control"
                                               value="@accessToken"
                                               id="access-token-input"
                                               readonly>
                                        <button
                                            class="btn btn-outline-secondary"
                                            type="button"
                                            data-clipboard-target="#access-token-input"
                                            mc-toggle
                                            data-icon-default="bi-clipboard"
                                            data-icon-toggled="bi-check2">
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-2"><strong>refresh_token:</strong></td>
                                <td>
                                    <div class="input-group input-group-sm">
                                        <input type="text"
                                               class="form-control"
                                               value="@await HttpContext.GetTokenAsync("refresh_token")"
                                               id="refresh-token-input"
                                               readonly>
                                        <button
                                            class="btn btn-outline-secondary"
                                            type="button"
                                            data-clipboard-target="#refresh-token-input"
                                            mc-toggle
                                            data-icon-default="bi-clipboard"
                                            data-icon-toggled="bi-check2">
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-2"><strong>token_type:</strong></td>
                                <td>
                                    <div class="small">
                                        @await HttpContext.GetTokenAsync("token_type")
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-2"><strong>scope:</strong></td>
                                <td>
                                    <div class="small">
                                        @await HttpContext.GetTokenAsync("scope")
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-2"><strong>expires_in:</strong></td>
                                <td>
                                    <div class="small">
                                        @await HttpContext.GetTokenAsync("expires_in")
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-xl-6">
            <div class="p-3">
                <div class="card shadow-sm">
                    <div class="card-header font-monospace">
                        /userinfo
                    </div>
                    <div class="card-body overflow-x-auto">
                        <table class="table table-borderless">
                            <tbody>
                            @foreach (var claim in HttpContext.User.Claims)
                            {
                                <tr>
                                    <td><strong>@claim.Type</strong></td>
                                    <td>
                                        <div class="small">
                                            @claim.Value
                                        </div>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-xl-6">
            <div class="p-3">
                <div class="card shadow-sm">
                    <div class="card-header font-monospace">
                        access_token decoded
                    </div>
                    <div class="card-body overflow-x-auto">
                        <pre>@decodedPayload</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
