@page
@using System.IdentityModel.Tokens.Jwt
@using System.Text.Json
@using Microsoft.AspNetCore.Authentication
@model IndexModel
@{
    ViewData["Title"] = "Home";
    string? accessToken = await HttpContext.GetTokenAsync("access_token");
}

@if (!string.IsNullOrWhiteSpace(accessToken))
{
    string decodedPayload = string.Empty;
    try
    {
        JwtSecurityToken jwt = new JwtSecurityToken(jwtEncodedString: accessToken);
        JsonDocument parsedPayload = JsonDocument.Parse(jwt.Payload.SerializeToJson());
        decodedPayload = JsonSerializer.Serialize(parsedPayload.RootElement, new JsonSerializerOptions
        {
            WriteIndented = true
        });
    }
    catch
    {
        // ignored
    }

    <nav class="navbar">
        <div class="container-fluid justify-content-end">
            <form action="/signout" method="post" asp-antiforgery="true">
                <button class="btn btn-outline-secondary" type="submit">Sign out</button>
            </form>
        </div>
    </nav>

    <div class="container">
        <div class="row gx-5">
            <div class="col">
                <div class="p-3">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td><strong>access_token:</strong></td>
                                    <td>
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" readonly
                                                   value="@accessToken">
                                            <button class="btn btn-outline-secondary" type="button">
                                                <i class="bi bi-clipboard"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>refresh_token:</strong></td>
                                    <td>
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" readonly
                                                   value="@accessToken">
                                            <button class="btn btn-outline-secondary" type="button">
                                                <i class="bi bi-clipboard"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>token_type:</strong></td>
                                    <td>
                                        <div class="small">
                                            @await HttpContext.GetTokenAsync("token_type")
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>scope:</strong></td>
                                    <td>
                                        <div class="small">
                                            @await HttpContext.GetTokenAsync("scope")
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>expires_in:</strong></td>
                                    <td>
                                        <div class="small">
                                            @await HttpContext.GetTokenAsync("expires_in")
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="p-3">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <pre class="font-monospace small">@decodedPayload</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div>
        Please sign in
    </div>
}
