@page
@model LoginModel
@using Microsoft.Extensions.Configuration
@using MistCentauri.Oidc
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="d-flex align-items-center vh-100">
        <div class="mx-auto p-2 w-50">
            
            @{
                string? error = HttpContext.Request.Query["error"];

                if (!string.IsNullOrWhiteSpace(error))
                {
                    string decodedError = UriBase64.Decode(error);

                    <div class="alert alert-danger" role="alert">
                        @decodedError
                        @{
                            string? errorDescription = HttpContext.Request.Query["error_description"];

                            if (!string.IsNullOrWhiteSpace(errorDescription))
                            {
                                string decodedErrorDescription = UriBase64.Decode(errorDescription);
                                
                                <hr>
                                @decodedErrorDescription
                            }
                        }
                    </div>
                }
            }

            <div class="card shadow-sm">
                <div class="card-body">
                    <form action="/signin" method="post" asp-antiforgery="true">
                        <div class="form-floating mb-3">
                            <input type="url" class="form-control" id="authority"
                                   value="@Configuration["OidcSettings:Authority"]" name="Authority">
                            <label for="authority">Authority</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="clientId"
                                   value="@Configuration["OidcSettings:ClientId"]" name="ClientId">
                            <label for="clientId">Client Id</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="clientSecret"
                                   value="@Configuration["OidcSettings:ClientSecret"]" name="ClientSecret">
                            <label for="clientSecret">Client Secret</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="scope"
                                   value="@Configuration["OidcSettings:Scope"]" name="Scope">
                            <label for="scope">Scope</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
