name: Docker build & push
on:
#  push:
#    branches: [ "main" ]
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Publish docker image
        working-directory: ./src
        run: dotnet publish --os linux --arch x64 /t:PublishContainer

      - name: Log into Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push the image to Docker Hub
        run: docker push mistcentauri/oidc-viewer
